.custom-margin-top {
    margin-top: 20px;
}

.contact__form form select {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(225, 225, 225, 0.5);
    background: transparent;
    font-size: 16px;
    color: #adadad;
    padding-left: 20px;
    font-weight: 300;
    margin-right: 20px;
    margin-bottom: 20px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

label {
    color: #adadad
}

section.work {
    margin: 20px;
    box-shadow: 0 0 0 20px #100028;
}

.mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.mobile-footer a:hover {
    color: #007bff;
}

.checkbox input[type="checkbox"] {
    transform: scale(0.6);
    margin-right: 10px;
}

.checkbox label {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 991px) {
    .mobile-footer {
        display: flex !important;
    }
    #workSection {
        display: none;
    }
    #toggleGallery {
        display: block;
    }
    #logo {
        max-width: 12%;
    }
    .slicknav_btn {
        top: 48px !important;
        background: #222222 !important;
        border-radius: 4px 4px 0 0 !important;
    }
    .slicknav_nav {
        border-radius: 10px 0 10px 10px;
    }
}

@media (min-width: 992px) {
    .mobile-footer, #toggleGallery {
        display: none !important;
    }
    #workSection {
        display: block;
    }
}
