<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisez votre mot de passe</title>
</head>
<body>
<p>Bonjour,</p>
<p>Vous avez demandé une réinitialisation de mot de passe.</p>
<p><a href="{{ resetUrl }}">Cliquez ici pour choisir un nouveau mot de passe</a>.</p>
<p>Ce lien est valable 2 heures.</p>
</body>
</html>
